###############################################################################
# File:		hostgroup definitions for PRIMERGY, PRIMERGY Blades and PRIMEQUEST
# Format:	NagiosCore
#
# Author:	Fujitsu
# Version:      3.60.01
# LastChange:	3.60.00
# Date:		2018-12-04
#
# These configuration files are samples for a Nagios-Core integration.
# Please copy or integrate these files into your Nagios-Core system.
#
# If some parts are not needed corresponding parts can be deleted in the copy.
#
###############################################################################

define hostgroup {
	hostgroup_name            	ALL-FUJITSU-SERVER-HOSTS
	alias                     	Fujitsu Servers
	hostgroup_members         	all-fujitsu-servers,all-fujitsu-servers-CIM,all-fujitsu-servers-iRMC-SNMP,all-fujitsu-servers-REST
	register                  	1
}


###############################################################################
# END OF FILE
###############################################################################
